
@media(max-width:767px){
    .section{
        width: 100%;
    }
    .container{
        width: 90%;
    }
    .container h1 {
        font-size: 40px;
    }
    .container .content{
        margin-top: 50px;
        padding: 14px;
    } 
    .container .content .music-data{
        margin-left: 10px;
    }
    .popup{
        width: 90%;
    }
    }